@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

:root {
    --brand1: #e48334;
    --brand1: #d0ea55;
    --bg1: #000;
    --color1: #fefefe;
    --color2: #a3a3a3;
    --font1: 'Unbounded', sans-serif;
    --font2: 'Montserrat', sans-serif;
    font-size: 14px;
}
* {
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color2);
    font-family: var(--font2);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--color1);
    font-family: var(--font1);
}
h1 { font-size: 3em; font-weight: 800; }
h2 { font-size: 1.8em; font-weight: 700; }
h3 { font-size: 1.6em; font-weight: 650; }
h4 { font-size: 1.4em; font-weight: 600; }
h5 { font-size: 1.2em; font-weight: 600; }

p {
    max-width: 600px;
}

.brand-btn {
    background-color: var(--brand1);
    color: var(--bg1);
    padding: .5rem 1.75rem;
    font-size: 1.25rem;
    margin-top: 3rem;
    border-radius: 100rem;
    font-family: var(--font1);
    font-weight: 500;
    transition: 50ms;
    display: inline-block;
    text-decoration: none;
}
.brand-btn:hover {
    opacity: .8;
}

nav a {
    color: var(--color1);
    font-weight: 400;
    font-family: var(--font1);
    transition: 50ms;
}
nav a:not(.dummy):hover {
    color: var(--brand1);
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4rem;
}
.section-title {
    font-size: 3rem;
    font-weight: 700;
    position: relative;
    background-color: var(--bg1);
    width: fit-content;
    padding: 0 1.5rem;
    left: -1.5rem;
}
.section-title .line {
    width: 200vw;
    height: 1px;
    position: absolute;
    background-color: var(--brand1);
    top: 50%;
    translate: -50% -50%;
    z-index: -1;
}

/* --- end global styles --- */

#about .card {
    width: 17rem;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#about .card * {
    color: var(--bg1);
}
#about .card img {
    height: 3rem;
    margin-bottom: 4rem;
}
#about .card .header {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
#about .card .title {
    font-size: 1.45rem;
    font-weight: 500;
}
#about .card .bottom-wrapper {
    flex: 1;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
#about .card .cta {
    font-family: var(--font1);
    font-size: .95rem;
    font-weight: 400;
    position: relative;
    margin-top: .5rem;
    width: fit-content;
}
#about .card .cta::before {
    content: '';
    position: absolute;
    width: 105%;
    height: 2px; 
    background-color: var(--bg1);
    bottom: .05rem; 
    left: 0;
    translate: 0 100%;
    transition: 100ms;
}
#about .card .cta:hover::before {
    width: 120%;
}